.hours-days
{
    position: relative;
    bottom:3em;
    background-color: black;
    padding: 5px;
    font-size: 3vw;
}

#days
{
    float: left;
    left: 1vw;
}

#hours
{
    float: right;
    right: 1vw;
}
