.hours-days
{
    position: relative;
    bottom:3em;
    background-color: black;
    padding: 5px;
    font-size: 3.5vw;
}

#days
{
    float: left;
    left: 1vw;
}

#hours
{
    float: right;
    right: -7vw;
}


#open-lbl
{
    float: right;
    right: 2vw;
    bottom: 14rem;
}